.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
<<<<<<< HEAD
=======
    background: #ffff;
>>>>>>> fd42da1ebfbecc3c5c02efc96ecc091854ca3cd2
}

.wrapper-content {
    display: flex;
}