.container {
<<<<<<< Updated upstream
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  background: #ffff;
=======
    width: 100vw;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    background: #ffff;
>>>>>>> Stashed changes
}

.wrapper-content {
  display: flex;
}
