  .container-cradt {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    background-color: #fff;
  }

  .search-bar {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .search-bar > label {
    width: 40%;
  }

  #inputSearch {
    width: 40%;
    padding: 4px;

    border: 1px solid #00000088;
    border-radius: 5px;
  }

  .container-type-process-cradt { 
    width: 80%;
    height: 25%;
    padding: 30px;

    display: flex;
    justify-content: space-between;

    border: none;
    border-radius: 5px;

    background-color: #D9D9D9;
  }

  .data-process, .status-process, .tipo-process {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;

    font-size: 0.9rem;
  }

  .container-input-check-process {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .container-list-cards-process {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }


  /* .container-cradt{
    margin-top: 20px;
  }
  .search-bar, .filters, .recent{
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
  }
  .search-bar input{
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
  }
  .filters button{
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  
  }
  .filters button:hover{
    background-color: #0056b3;
  }
  .process-card{
    margin-bottom: 15px;
    background:white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
  }
  .process-card h3{
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .process-card p{
    margin: 5px 0;
  }
  
  .process-card .status{
    display: inline-block;
    padding:5px 10px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
  }
  .status.pendente{
    background-color: #FFC107;
  }
  .status.concluido{
    background-color: #28a745;
  }
  
  .process-card button{
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  .process-card button:houver{
    background-color: #0056b3;;
  } */